footer {
    background-color: $subTextColor;
    text-align: center;
    height: 40px;
    line-height: 39px;
    border-top: 1px solid $mainTextColor;

    p {
        color: $white;

        a {
            color: $blue;
        }
    }
}