// !START SEO
meta(name="description" content="Eve is a virtual assistant that simplifies your daily routine.")
meta(name="author" content="Eissa Saber")
// START SHARE
// All Websites
meta(property="og:title" content="Eve | Virtual Assistant")
meta(property="og:description" content="Eve is a virtual assistant that simplifies your daily routine.")
meta(property="og:image" content="https://eissa.xyz/eve/img/thumbnail.jpg")
meta(property="og:url" content="https://eissa.xyz/eve")
meta(property="og:site_name" content="Eve | Virtual Assistant")
meta(property="og:type" content="website")
// Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="Eve | Virtual Assistant")
meta(name="twitter:description" content="Eve is a virtual assistant that simplifies your daily routine.")
meta(name="twitter:image" content="https://eissa.xyz/eve/img/thumbnail.jpg")
// END SHARE
link(href="https://eissa.xyz/eve" rel="canonical")
meta(name="robots" content="index, follow")
// !END SEO
