:root {
    --main-bg: #1b1d20;
    --sub-bg: #303237;
    --sub-bg2: #3f4146;
    --font: #fff;
    --yellow: #f6c90e;
    --blue: #2f70ec;
    --shadow: rgba(0, 0, 0, .64);
}

body {
    background-color: var(--main-bg) !important;
    color: var(--font) !important;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6,
p,
.social span,
#profileWrapper .upperBox .infoCon .btnsCon a span,
#profileWrapper .lowerBox .navCon li a,
#previewWrapper #innerPreviewWrapper #projectDetails>div .projectFeatures li,
#contactWrapper #innerContactWrapper .contactDown form .input input::placeholder,
#contactWrapper #innerContactWrapper .contactDown form .input textarea::placeholder,
#previewWrapper #innerPreviewWrapper #projectDetails>div>div span,
#contactWrapper #innerContactWrapper .contactDown form .input input,
#contactWrapper #innerContactWrapper .contactDown form .input textarea,
svg {
    color: var(--font) !important;
    fill: var(--font) !important;
    caret-color: var(--font);
}

/* close btn */
.xBtn span {
    background-color: var(--font) !important;
}

/* main bg */
#profileWrapper .lowerBox .navCon {
    border-top: 1px solid var(--main-bg) !important;
}

#profileWrapper .upperBox .imgCon,
#projectsWrapper #innerProjectsWrapper section,
#profileWrapper .upperBox .infoCon .btnsCon a,
#previewWrapper #innerPreviewWrapper #projectIMG,
#previewWrapper #innerPreviewWrapper #projectDetails>div>div span {
    border: 1px solid var(--main-bg) !important;
}

#profileWrapper .upperBox .infoCon .btnsCon {

    border-top: 1px solid var(--main-bg) !important;
}

#profileWrapper .upperBox .infoCon .btnsCon {
    border-bottom: 1px solid var(--main-bg) !important;
}

#previewWrapper #innerPreviewWrapper #demoCodeBtns {
    border-top: 1px solid var(--main-bg) !important;
}

/* sub bg */
#projectsWrapper,
#profileWrapper,
#previewWrapper,
#contactWrapper,
#contactWrapper #innerContactWrapper .contactDown,
#contactWrapper #innerContactWrapper .contactDown form .input input,
#contactWrapper #innerContactWrapper .contactDown form .input textarea {
    background-color: var(--sub-bg) !important;
}

/* sub bg2 */
#profileWrapper .upperBox .infoCon .btnsCon a,
#previewWrapper #innerPreviewWrapper #projectDetails>div>div span {
    background-color: var(--sub-bg2) !important;
}

/* blue */
#profileWrapper .lowerBox .navCon li .active {
    color: var(--blue) !important;
}

/* shadow */
#profileWrapper {
    box-shadow: 0 0 3px 1px var(--shadow) !important;
}

/** media query */
@media (min-width: 768px) {
    #profileWrapper .lowerBox .navCon li a:hover {
        background-color: var(--sub-bg2) !important;
    }

    #profileWrapper .upperBox .infoCon .btnsCon {
        border-bottom: 0 !important;
    }

}